<!-- <span>test</span>
<div class="side-nav">
    <app-navibar>
    </app-navibar>
  </div>
  <router-outlet></router-outlet> -->


  <!-- <div class="container" style="background-color: yellow;">
    <div class="header">
    </div>
    <div class="main-container"style="background-color: red;" >
      <div class="side-nav xs-col-2">
        <app-navibar>
        </app-navibar>
      </div>
      <div class="xs-col-10" style="background-color: cyan;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->


  <div class="container-fluid" >
    <div class="" >
    
        <app-navibar>
        </app-navibar>

      <div class="row content" >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>