<div class="col-sm-9 mega-menu">
    <div class="row">
        <div class="col-sm-1">
       <div>       
        <ul>
            <li>
                <a class="" routerLink="" >
                    <span>PI</span>
                </a>
                <ul>
                    <li>
                        <a class="" routerLink="Chart1" >
                            <span>Chart 1</span>
                        </a>
                    </li>
                    <li>
                        <a class="" routerLink="Chart2" >
                            <span>Chart 2</span>
                        </a>
                    </li>
                </ul>
                <a class="" routerLink="Research" >
                    <span>My Research</span>
                </a>
            </li>
            
        </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
    </div>
</div>


